<!-- include header -->
<%- include('./partials/header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Update User</h2>
      <span class="text-light">Use the below form to Update an account</span>
    </div>

    <!-- add user form -->
    <!-- form handling -->
    <form method="POST" id="update_user">
      <div class="new_user">
        <div class="form-group">
          <label for="name" class="text-light">Name</label>
          <input type="hidden" id="hidden" name="id" value="<%= userDetails._id %>" />
          <input
            type="text"
            name="name"
            value="<%= userDetails.name %>"
            placeholder="Mark Stoenis"
            class="name"
          />
          <p class="error name-error"></p>
        </div>
        <div class="form-group">
          <label for="Email" class="text-light">Email</label>
          <input
            type="text"
            name="email"
            value="<%= userDetails.email %>"
            placeholder="example@gmail.com"
            class="name"/>
            <p class="error email-error"></p>
        </div>
        <div class="form-group">
          <label for="gender" class="text-light">Gender</label>
          <div class="radio inline">
            <input type="radio" id="radio-2" name="gender" value="Male"class="name" <%= userDetails.gender =='Male' ? 'checked' : '' %>  >
            <label for="radio-2" class="radio-label">Male</label>
            <p class="error gender-error"></p>
          </div>
          <div class="radio inline">
            <input type="radio" id="radio-3" name="gender" value="Female" class="name" <%= userDetails.gender == 'Female' ? 'checked' : '' %> >
            <label for="radio-3" class="radio-label">Female</label>
            <p class="error status-error"></p>
            
          </div>
        </div>

        <div class="form-group">
          <label for="gender" class="text-light">Status</label>
          <div class="radio inline">
            <input type="radio" id="radio-4" name="status" value="Active" class="name" <%= userDetails.status == 'Active' ? 'checked' : '' %>  >
            <label for="radio-4" class="radio-label">Active</label>
          </div>
          <div class="radio inline">
            <input type="radio" id="radio-5" name="status" value="Inactive"  class="name" <%= userDetails.status == 'Inactive' ? 'checked' : '' %>  >
            <label for="radio-5" class="radio-label">Inactive</label>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn text-dark update">Save</button>
        </div>
      </div>
    </form>
  </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('./partials/footer.ejs') %>
<!-- /include footer -->
